body {
    background-color: #fff;  
    width: 1440px;
}
  /*шапка страницы*/
.header {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    color: #000;
    padding: 92px 49px 92px 51px;
    align-items: center;
    justify-content: center;
}

.header__menu {  /*меню навигации*/
    place-content: center;
}

.header__links-list {   /*список ссылок*/
    display: flex;
    gap: 32px;
    flex-direction: row;
    list-style: none;
    white-space: nowrap;
    font-weight: normal;
    list-style-position:outside;
    text-underline-offset: 4px;
    font-size: 18px;
}

.header__links-list-item { /* пункт списка */
    font-family: Raleway, sans-serif;
    text-decoration: underline;
    list-style: circle;   
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {  /*логотип*/
    display: block;
    width: 148px;
    height: 105px;
    margin: auto;
}

.header__logo-image{
    width: 100%; 
}

.address{
    text-underline-offset: 4px; /* линия отступает от текста*/
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 24.3px; 
}

.header__address{  /*блок с контактной информацией*/
   margin-left: auto;
   padding: 5px 0 7px auto;
}





/*секции с контентом*/

.content-section {
    max-width: 1440px; 
    min-height: 100px;
    flex-shrink: 0;
}

/*входная секция*/

.cover {
    padding: 0 50px 0 50px;
    background-image: url(/images/cover.jpg); 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% auto;
}

.cover__title{
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
   
}

.overlay{
    opacity: 0.6;
    background: #000;
}

.aligned-text{
    display: block;
    width: 1340px;
    padding: 165px 50px 20px 50px;
   
}

.aligned-text_center{
    text-align: center;
    width: 1280px;
    padding: 20px 110px 20px 50px;
}

.aligned-text_right{
    text-align: right;
    width: 1340px;
    padding: 20px 50px 135px 50px;
}

.cover__description {
    display: flex;

}

.cover__description-text {
    color: rgb(66, 26, 26);
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.273%;
    text-transform: uppercase;
    margin-right: 78px;
    display: block;
    align-self: center;
    word-spacing: 21px;
}

.bet-button {
    display: block;
    padding: 12px 32px;
    border: 1px solid rgb(108, 30, 30);
    background-color: transparent;
    width: 257px;
    color: rgb(20, 16, 16);
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}













//////////////////////////////////


.lots {
    color: #fff;
    padding: 74px 50px 55px 50px;
}

.about {
    color: #000;
   
}

.footer {
    color: #000; 
    padding: 180px 50px 90px 50px; 
}

